<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spider.mapper.MainCHLandLARMapper" >
    <select id="selectByRjs0"  resultType="com.spider.bean.Main_CHLandLAR">
            select * from main where RJS5 &gt;= #{minTime} AND  RJS5&lt;=#{maxTime} and RJS0 ${sqlTitle} and (RJS4 LIKE ${rjs4})
    </select>
    <select id="selectByRjs12" resultType="com.spider.bean.Main_CHLandLAR">
            select * from main where RJS5 &gt;= #{minTime} AND  RJS5&lt;=#{maxTime}  and RJS12 like '%${rjs12}%' AND (RJS4 LIKE ${rjs4})
    </select>

    <select id="selectByRjs0NotLike"  resultType="com.spider.bean.Main_CHLandLAR">
        select * from main where  RJS5 &gt;= #{minTime} AND  RJS5 &lt;=#{maxTime} and RJS0  = '${sqlTitle}' and (RJS4 = ${rjs4})
    </select>
    <select id="selectByRjs12NotLike" resultType="com.spider.bean.Main_CHLandLAR">
        select * from main where RJS5 &gt;= #{minTime} AND  RJS5&lt;=#{maxTime}  and RJS12 = '${rjs12}' AND (RJS4 = ${rjs4})
    </select>



    <!-- .6 informationpipeline 自检-->
    <select id="selectByRjs0_6"  resultType="com.spider.bean.InformationPipeline">
        select * from information_pipeline where deptcode LIKE '%${rjs4}%' AND newsTitle ${sqlTitle} and releaseTime &gt;= #{minTime} AND  releaseTime&lt;=#{maxTime}
    </select>
    <select id="selectByRjs12_6" resultType="com.spider.bean.InformationPipeline">
        select * from information_pipeline where deptcode LIKE '%${rjs4}%' AND filenum like '%${rjs12}%' and releaseTime &gt;= #{minTime} AND  releaseTime&lt;=#{maxTime}
    </select>

    <select id="selectByRjs0NotLike_6"  resultType="com.spider.bean.InformationPipeline">
        select * from information_pipeline where deptcode = '${rjs4}' AND newsTitle  = '${sqlTitle}' and releaseTime &gt;= #{minTime} AND  releaseTime&lt;=#{maxTime}
    </select>
    <select id="selectByRjs12NotLike_6" resultType="com.spider.bean.InformationPipeline">
        select * from information_pipeline where deptcode = '${rjs4}' AND filenum = '${rjs12}' and releaseTime &gt;= #{minTime} AND  releaseTime&lt;=#{maxTime}
    </select>
    <select id="selectByNewsTitleNotLike_6" resultType="com.spider.bean.InformationPipeline">
        select * from information_pipeline where  newsTitle = '${newsTitle}' and releaseTime &gt;= #{minTime} AND  releaseTime&lt;=#{maxTime}
    </select>
    <!--新增-->
    <insert id="insert" parameterType="com.spider.bean.Main_CHLandLAR" >
        insert into main
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="rid != null" >
                rid,
            </if>
            <if test="rjs0 != null" >
                RJS0,
            </if>
            <if test="rjs1 != null" >
                RJS1,
            </if>
            <if test="rjs4 != null" >
                RJS4,
            </if>
            <if test="rjs5 != null" >
                RJS5,
            </if>
            <if test="rjs6 != null" >
                RJS6,
            </if>
            <if test="rjs7 != null" >
                RJS7,
            </if>
            <if test="rjs8 != null" >
                RJS8,
            </if>
            <if test="rjs9 != null" >
                RJS9,
            </if>
            <if test="rjs10 != null" >
                RJS10,
            </if>
            <if test="rjs11 != null" >
                RJS11,
            </if>
            <if test="rjs12 != null" >
                RJS12,
            </if>
            <if test="kword != null" >
                kword,
            </if>
            <if test="appuser != null" >
                appuser,
            </if>
            <if test="appdate != null" >
                appdate,
            </if>
            <if test="truetag != null" >
                truetag,
            </if>
            <if test="lawlevel != null" >
                lawlevel,
            </if>
            <if test="rjs13 != null" >
                RJS13,
            </if>
            <if test="updatetime != null" >
                UpdateTime,
            </if>
            <if test="truetag1 != null" >
                truetag_1,
            </if>
            <if test="linksource != null" >
                LinkSource,
            </if>
            <if test="fjian != null" >
                fjian,
            </if>
            <if test="rjs14 != null" >
                RJS14,
            </if>
            <if test="rjs15 != null" >
                RJS15,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="rid != null" >
                #{rid,jdbcType=BIGINT},
            </if>
            <if test="rjs0 != null" >
                #{rjs0,jdbcType=VARCHAR},
            </if>
            <if test="rjs1 != null" >
                #{rjs1,jdbcType=VARCHAR},
            </if>
            <if test="rjs4 != null" >
                #{rjs4,jdbcType=VARCHAR},
            </if>
            <if test="rjs5 != null" >
                #{rjs5,jdbcType=VARCHAR},
            </if>
            <if test="rjs6 != null" >
                #{rjs6,jdbcType=VARCHAR},
            </if>
            <if test="rjs7 != null" >
                #{rjs7,jdbcType=VARCHAR},
            </if>
            <if test="rjs8 != null" >
                #{rjs8,jdbcType=VARCHAR},
            </if>
            <if test="rjs9 != null" >
                #{rjs9,jdbcType=SMALLINT},
            </if>
            <if test="rjs10 != null" >
                #{rjs10,jdbcType=VARCHAR},
            </if>
            <if test="rjs11 != null" >
                #{rjs11,jdbcType=VARCHAR},
            </if>
            <if test="rjs12 != null" >
                #{rjs12,jdbcType=VARCHAR},
            </if>
            <if test="kword != null" >
                #{kword,jdbcType=VARCHAR},
            </if>
            <if test="appuser != null" >
                #{appuser,jdbcType=VARCHAR},
            </if>
            <if test="appdate != null" >
                #{appdate,jdbcType=TIMESTAMP},
            </if>
            <if test="truetag != null" >
                #{truetag,jdbcType=INTEGER},
            </if>
            <if test="lawlevel != null" >
                #{lawlevel,jdbcType=INTEGER},
            </if>
            <if test="rjs13 != null" >
                #{rjs13,jdbcType=INTEGER},
            </if>
            <if test="updatetime != null" >
                #{updatetime,jdbcType=INTEGER},
            </if>
            <if test="truetag1 != null" >
                #{truetag1,jdbcType=INTEGER},
            </if>
            <if test="linksource != null" >
                #{linksource,jdbcType=LONGVARCHAR},
            </if>
            <if test="fjian != null" >
                #{fjian,jdbcType=LONGVARCHAR},
            </if>
            <if test="rjs14 != null" >
                #{rjs14,jdbcType=VARCHAR},
            </if>
            <if test="rjs15 != null" >
                #{rjs15,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 正式库main表数据维护 -->
    <select id="findAll" resultType="com.spider.bean.Main_CHLandLAR">
        select * from main where appdate > '2020-12-20 14:31:46' limit 0,10
    </select>
    <!-- 正式库main表数据维护 -->
    <select id="selectByPrimaryKey" parameterType="long" resultType="com.spider.bean.Main_CHLandLAR">
        select * from main where rid = #{rid}
    </select>




    <update id="update" parameterType="com.spider.bean.Main_CHLandLAR">
        update main
        <set >
            <if test="rid != null" >
                rid = #{rid,jdbcType=BIGINT},
            </if>
            <if test="rjs0 != null" >
                RJS0 = #{rjs0,jdbcType=VARCHAR},
            </if>
            <if test="rjs1 != null" >
                RJS1 = #{rjs1,jdbcType=VARCHAR},
            </if>
            <if test="rjs4 != null" >
                RJS4 = #{rjs4,jdbcType=VARCHAR},
            </if>
            <if test="rjs5 != null" >
                RJS5 = #{rjs5,jdbcType=VARCHAR},
            </if>
            <if test="rjs6 != null" >
                RJS6 = #{rjs6,jdbcType=VARCHAR},
            </if>
            <if test="rjs7 != null" >
                RJS7 = #{rjs7,jdbcType=VARCHAR},
            </if>
            <if test="rjs8 != null" >
                RJS8 = #{rjs8,jdbcType=VARCHAR},
            </if>
            <if test="rjs9 != null" >
                RJS9 = #{rjs9,jdbcType=SMALLINT},
            </if>
            <if test="rjs10 != null" >
                RJS10 = #{rjs10,jdbcType=VARCHAR},
            </if>
            <if test="rjs11 != null" >
                RJS11 = #{rjs11,jdbcType=VARCHAR},
            </if>
            <if test="rjs12 != null" >
                RJS12 = #{rjs12,jdbcType=VARCHAR},
            </if>
            <if test="kword != null" >
                kword = #{kword,jdbcType=VARCHAR},
            </if>
            <if test="appuser != null" >
                appuser = #{appuser,jdbcType=VARCHAR},
            </if>
            <if test="appdate != null" >
                appdate = #{appdate,jdbcType=TIMESTAMP},
            </if>
            <if test="truetag != null" >
                truetag = #{truetag,jdbcType=INTEGER},
            </if>
            <if test="lawlevel != null" >
                lawlevel = #{lawlevel,jdbcType=INTEGER},
            </if>
            <if test="rjs13 != null" >
                RJS13 = #{rjs13,jdbcType=INTEGER},
            </if>
            <if test="updatetime != null" >
                UpdateTime = #{updatetime,jdbcType=INTEGER},
            </if>
            <if test="linksource != null" >
                LinkSource = #{linksource,jdbcType=LONGVARCHAR},
            </if>
            <if test="fjian != null" >
                fjian = #{fjian,jdbcType=LONGVARCHAR},
            </if>
            <if test="truetag1 != null" >
                truetag_1 = #{truetag1,jdbcType=INTEGER},
            </if>
            <if test="flag != null" >
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="rjs14 != null" >
                RJS14 = #{rjs14,jdbcType=VARCHAR},
            </if>
            <if test="rjs15 != null" >
                RJS15 = #{rjs15,jdbcType=VARCHAR},
            </if>
        </set>

        WHERE rid = #{rid,jdbcType=BIGINT}
    </update>


    <update id="updateFjian" parameterType="com.spider.bean.Main_CHLandLAR">
        update main SET  fjian = '${fjian}'
        WHERE rid = #{rid,jdbcType=BIGINT}
    </update>

    <select id="search" parameterType="Map" resultType="com.spider.bean.Main_CHLandLAR">
        select * from main
        where 1=1
        <if test="params.title != null and params.title != ''.toString()">
            and  rjs0 like '%${params.title}%'
        </if>

        <if test="params.releaseDate != null and params.releaseDate != ''.toString()" >
            and rjs5 > #{params.releaseDate}
        </if>

        <if test="params.dept != null and params.dept != ''.toString()" >
            and rjs10 like  '%${params.dept}%'
        </if>

        <if test="params.fileNum != null and params.fileNum != ''.toString()" >
            and rjs12 like  '%${params.fileNum}%'
        </if>

        <if test="params.fileName != null and params.fileName != ''.toString()" >
            and fjian like  '%${params.fileName}%'
        </if>

        <if test="params.appdate != null and params.appdate != ''.toString()" >
            and  appdate > #{params.appdate}
        </if>


        <if test="params.noDeptCode != null" >
            and rjs4 is  null
        </if>

        <if test="params.noDeptName != null" >
            and  rjs10 is null
        </if>

        <if test="params.noReleaseDate != null" >
            and  rjs5 is null
        </if>

        <if test="params.noImpDate != null" >
            and rjs6 is  null
        </if>

        <if test="params.noFileNum != null" >
            and  rjs12 is null
        </if>
    </select>

</mapper>